# Spendee Data

In [3]:
import pandas as pd
import altair as alt

PATH = "../data/transactions_export_2025-07-24_unfcu.csv"

oo = pd.read_csv(PATH)

# Explore categories, totals, and time ranges
oo

,Date,Wallet,Type,Category name,Amount,Currency,Note,Labels,Author
0,2021-11-11T21:02:30+00:00,UNFCU üåè,Expense,Shopping,-24.654016,USD,Kenko UV FILTER 67MM,photography,Eduardo Cifuentes
1,2023-12-22T03:03:38+00:00,UNFCU üåè,Expense,Gifts,-50.000000,USD,Vino matrimonio julu montelig,NaN,Eduardo Cifuentes
2,2023-12-25T13:09:10+00:00,UNFCU üåè,Expense,Restaurant,-13.119902,USD,NaN,NaN,Eduardo Cifuentes
3,2023-12-25T13:09:49+00:00,UNFCU üåè,Expense,Shopping,-15.306552,USD,Almohada avipm cuello,NaN,Eduardo Cifuentes
4,2023-12-25T13:10:07+00:00,UNFCU üåè,Expense,Coffee,-2.951978,USD,NaN,NaN,Eduardo Cifuentes
...,...,...,...,...,...,...,...,...,...
2051,2025-07-07T13:40:16+00:00,UNFCU üåè,Expense,Restaurant,-11.976334,USD,NaN,NaN,Eduardo Cifuentes
2052,2025-07-07T20:36:54+00:00,UNFCU üåè,Expense,Healthcare,-94.743076,USD,Vavuna qdenga 1 dosis,NaN,Eduardo Cifuentes
2053,2025-07-08T00:39:42+00:00,UNFCU üåè,Expense,Acommodation,-17.519964,USD,NaN,NaN,Eduardo Cifuentes
2054,2025-07-08T14:44:39+00:00,UNFCU üåè,Expense,Coffee,-3.011120,USD,NaN,NaN,Eduardo Cifuentes
2055,2025-07-10T06:29:46+00:00,UNFCU üåè,Expense,Shopping,-9.990000,USD,Jung - el hombre y sus simbolos,books,Eduardo Cifuentes

In [4]:
oo.describe()

# oo['category'].value_counts()

            Amount
count  2056.000000
mean    -17.948601
std     120.913962
min   -3115.000000
25%      -9.761000
50%      -4.739202
75%      -2.074212
max    1342.137500